/* основной цвет текста color: #757575 */
/* вторичный цвет текста color: #212121 */
/* основной фон color: #ffffff; */
/* вторичный фон color: #2F303A */
/* вспомогательный фон color: #F5F4FA */
/* цвет логотипа color: #2196F3; */
/* вторичный цвет логотипа color: #000000 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-fon-color: #ffffff;
  --secondary-fon-color: #2f303a;
  --supporting-fon-color: #f5f4fa;
  --primary-logo-color: #2196f3;
  --secondary--logo-colr: #000000;
}
body {
  background-color: var(--primary-fon-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
}

/* logo  */
.logohead {
  color: #2196f3;

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logolegs {
  color: #000000;

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* site-nav */
.navigation .link {
  color: #212121;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation .view-link {
  color: var(--primary-logo-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation .link:hover,
.navigation .link:focus {
  color: #2196f3;
}

/* head-address */
.header-address .link {
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-address .link:hover,
.header-address .link:focus {
  color: #2196f3;
}

/* hero */
.hero {
  background-color: var(--secondary-fon-color);
}
.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero .button {
  background-color: var(--primary-logo-color);
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
}

/* advantages */

.advantages-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.advantages-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* about */
/* .command */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-command {
  background-color: var(--supporting-fon-color);
}
.command-list {
  background-color: var(--supporting-fon-color);
}

/* .command .foto {
  background-color: #ffffff;
  height: 368px;
  width: 270px;} */

.command-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
/* footer */

.footer {
  background-color: var(--secondary-fon-color);
}

/* address  */

.footer-address .geo {
  color: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-address .link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* logo  */

.footer .logolegs {
  color: #ffffff;
}
